<div class="container">
  <header class="header">
    <h2> <img src="/images/cinegest-logo.png" alt="CineGest" class="logo" /> {{ titulo }}</h2>

    <div class="user-panel">
      @if (email) {
      <div class="user-data">
        <span class="user-email">{{ usuario }} ( {{ email }} )</span>
        <span class="user-role">{{ rol }}</span>
      </div>
      <button class="btn-logout" (click)="logout()"> Cerrar sesion </button>
      } @else {
      <button class="btn-secondary" routerLink="/login"> Iniciar sesion </button>
      }
    </div>
  </header>

  <nav class="menu">
    <a routerLink="/">Inicio</a>
    <a routerLink="/peliculas">Películas</a>
    <a routerLink="/funciones">Funciones</a>
    <a routerLink="/boletos">Boletos</a>
    <a routerLink="/usuarios">Usuarios</a>
  </nav>

  <ng-content></ng-content>

</div>
