.register-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .register-form div {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .register-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .register-form input,
  .register-form select {
    width: 100%;
    box-sizing: border-box;
  }