.card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 12px;
}

.form-grid input {
    padding: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #1b1b1b;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #333;
    text-align: left;
}

tr:hover {
    background: #1a1a1a;
}


.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.7);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.modal {
    width: 450px;
    max-width: 90%;
    background: #161616;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h3 {
    margin: 0;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal input {
    padding: 12px;
    border-radius: 6px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.modal-actions button {
    min-width: 110px;
}
.close {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}



