<app-admin-layout titulo="🎬 Películas">

  <section class="card">
    <h3>Nueva Película</h3>
    <div *ngIf="error" class="error">{{ error }}</div>
    <form class="form-grid" (ngSubmit)="crear()">
      <input type="text" [(ngModel)]="nueva.titulo" name="titulo" placeholder="Título">
      <input type="number" [(ngModel)]="nueva.duracion" name="duracion" placeholder="Duración">
      <input type="text" [(ngModel)]="nueva.clasificacion" name="clasificacion" placeholder="Clasificación">
      <input type="text" [(ngModel)]="nueva.genero" name="genero" placeholder="Género">

      <button type="submit">Agregar</button>
    </form>
  </section>
  <section class="card">
    <h3>Lista de Películas</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Duración</th>
        <th>Clasificación</th>
        <th>Género</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let p of peliculas">
        <td>{{ p.id }}</td>
        <td>{{ p.titulo }}</td>
        <td>{{ p.duracion }}</td>
        <td>{{ p.clasificacion }}</td>
        <td>{{ p.genero }}</td>
        <td>
          <button class="btn-edit" (click)="editar(p)">Editar</button>
          <button class="btn-delete" (click)="eliminar(p.id)">Eliminar</button>
        </td>
      </tr>
    </table>
  </section>

  <div class="modal-backdrop" *ngIf="editando">
    <div class="modal">
      <div class="modal-header">
        <h3>Editar Película</h3>
        <button class="close" (click)="editando = null">
          ✕
        </button>
      </div>

      <form (ngSubmit)="actualizar()">
        <input type="text" [(ngModel)]="editando.titulo" name="etitulo" placeholder="Título">
        <input type="number" [(ngModel)]="editando.duracion" name="eduracion" placeholder="Duración">
        <input type="text" [(ngModel)]="editando.clasificacion" name="eclasificacion" placeholder="Clasificación">
        <input type="text" [(ngModel)]="editando.genero" name="egenero" placeholder="Género">
        <div class="modal-actions">
          <button type="submit">
            Actualizar
          </button>
          <button type="button" (click)="editando = null">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>

</app-admin-layout>
